body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7ecd3;
    color: #333;
    line-height: 1.6;
    animation: start 1s ease;

}
/* a,button,input
{
    cursor: pointer;
} */

header {
    background-color: #ff9f43;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
}

header h1 {
    font-size: 2.5em;
    color: #3498db;
    margin: 0;
}

nav {
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ff9f43;
}

section {
    padding: 40px 40px;
    opacity: 1;
    transform: translateY(20px);
    transition: opacity 0.6s ease-in-out, transform 0.5s ease-in-out;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

section h2 {
    color: #ff9f43;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
}
#game > img{
    border-radius: 10px;
}
a
{
    color: #333;
    text-decoration: none;
}
.zdj_o
{
    width: 700px;
    height: 400px;
}
@media screen and (max-width: 600px)
{
    .zdj_o
    {
        width: 100%;
    }
    #game > img {
        width: 75%; 
    }
    .kolko{
        visibility: hidden;
    }
    .slider_container
    {
        width: 100%;
    }
    .slide 
    {
        flex: 0 0 100%; 
        max-width: 100%; 
        height: auto;
        width: 10px;
    }
}
ul
{
    list-style: none;
}
@keyframes start
{
    0%{
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
.kolko
{
    width: 100px;
    height: 100px;
    background-color: #ff9f43;
    position: fixed;
    border-radius: 50%;
    filter: blur(50px);
    pointer-events: none;

}

.download
{
    background-color: rgb(14, 148, 14);
    border:  3px solid green;
    width: 150px;
    height: 60px;
}
.download:hover
{
    background-color:rgb(17, 163, 17) ;
}
.slider_container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}
.slide {
    flex: 0 0 100%;
    max-width: 100%;
}
.nastepna
{
    right: 0;
}
.poprzednia
{
    left: 0;
}

.poprzednia,.nastepna
{
    position: absolute;
    top: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}
/* .kursor
{
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    border: 1px solid #333;
    z-index: 9999;
    position: fixed;
} */


